<div class="top-menu">
	<ul class="top-menu__list">
	<% for (var i in theme.menu) { %>
		<li class="top-menu__item">
			<a href="<%- url_for(theme.menu[i]) %>" class="top-menu__item-link"><%= i %></a>
		</li>
	<% } %>
	</ul>
</div>